.banner {
    display: flex;
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 10vh 15vh 10vh 15vh;
    margin: 2em 1em;
    align-items: center;
    text-align: center;
}

.banner_logo {
    width: 10vw;
}

.banner__titulo {
    line-height: 1.5em;
    text-align: left;
    font-size: 1.2em;
    font-weight: 300;
}

.banner_logo {
    display: none;
}

.banner__texto {
    font-weight: 500;
    margin: 0.2em 0;
}

.banner__titulo-banner {
    font-size: 1.5em;
    font-weight: 600;
}

.carrossel__titulo {
    background: var(--azul-degrade);
    color: var(--branco);
}



.banner_logo-banner {
    width: 10em;
}


@media screen and (max-width: 780px) {
    .banner {
        padding: 5vh;
    }

    .banner_logo-banner {
        width: 11em;
    }

    .banner__titulo {
        line-height: 1.5em;
        text-align: left;
        font-size: 1em;
        font-weight: 300;
    }
}